@using MusicEventApp.ViewModels
@model List<EventViewModal>

@foreach (EventViewModal evt in Model)
{
    <div class="store-product">
        <figure>
            <img src="@evt.Image" width="265" height="265" style="min-width:222px;min-height:222px;" />
            <figcaption>
                <a class="btn btn-grey" href="Event/@evt.EventID"><i class="fa fa-ticket"></i> View Event</a>
            </figcaption>
        </figure>
        <div class="product-info">
            <h3 title="@evt.EventName">@evt.EventName</h3>
            <h6 title="Start Time"><i class="fa fa-clock-o"></i>@evt.StartDate.Value.ToString()</h6>
            <span class="price-tag" title="@evt.ViewCount"><i class="fa fa-eye"></i></span>
        </div>
    </div> <!--store-product-->
}

<input type="hidden" id="hdnTotalRecords" name="hdnTotalRecords" value="@ViewBag.TotalRecords" /> 