@using MusicEventApp.ViewModels
@model List<EventViewModal>

@foreach (EventViewModal evt in Model)
{
    <div class="store-product evtBlock">
        <div class="product-info">
            <h3 class="catInfo">@evt.CategoryName</h3>
            <span class="price-tag evtTime">@evt.StartDate.Value.ToString()</span>
        </div>
        <figure>
            <img width="390" height="278" src="@evt.Image">
            <figcaption>
                <a href="Event/Details/@evt.EventID" class="btn btn-grey"><i class="fa fa-ticket "></i> View Event</a>
            </figcaption>
        </figure>
        <div class="product-info">
            <h3 title="@evt.EventName" class="evtName">@evt.EventName</h3>
            <span class="price-tag"></span>
        </div>
        <div class="product-info">
            <h3 class="evtAddress">@evt.location</h3>
            <span class="price-tag"></span>
        </div>
        <div class="product-info">
            <h3><span class="evtNearbt">Near me :</span> <span class="evtDistance"><span id="spanDistance">@evt.DistanceMile</span> miles away</span></h3>
            <span class="price-tag"></span>
        </div>
        <input type="hidden" id="hdnLatitude" name="hdnLatitude" value="@evt.latitude" />
        <input type="hidden" id="hdnLongitude" name="hdnLongitude" value="@evt.longitude" /> 
    </div> <!--store-product-->
}
